<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="AccessToken" value=""/>
    <add key="AccessTokenSecret" value=""/>
    <add key="UserId" value=""/>
    <add key="ScreenName" value=""/>
    <add key="APIKey" value=""/>
    <add key="APIKeySecret" value=""/>
  </appSettings>
</configuration>